<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" shutdownHook="disable">

    <!-- Logger levels: ALL < TRACE < DEBUG < INFO < WARN < ERROR < FATAL < OFF -->

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <!--<PatternLayout pattern="[%-5p] | %d{dd-MM-yyyy HH:mm:ss} | [%t] %C{6} (%F:%L) - %m%n"/>-->
            <PatternLayout pattern="[%-5p] | %d{dd-MM-yyyy HH:mm:ss} | [%t] (%F:%L) - %m%n"/>
        </Console>

        <File name="FileAppender" fileName="/var/log/scheduler.log">
            <!-- avoid using %F and %L see@ https://coderanch.com/t/420957/open-source/log-printing-filename-line-number -->
            <PatternLayout pattern="[%-5p] | %d{dd-MM-yyyy HH:mm:ss} | [%t] - %m%n"/>
        </File>
        <Async name="AsyncAppender">
            <!-- <AppenderRef ref="FileAppender"/> -->
            <AppenderRef ref="ConsoleAppender"/>
        </Async>

        <!-- Async Loggers will auto-flash in batches, so switch off immediateFlush -->
        <!--<RandomAccessFile name="RandomAccessFile" fileName="/var/log/scheduler.log" immediateFlush="false" append="false">
            <PatternLayout pattern="[%-5p] | %d{dd-MM-yyyy HH:mm:ss} | [%t] - %m%n"/>
        </RandomAccessFile>-->
    </Appenders>

    <Loggers>
        <Root level="INFO" additivity="false">
            <AppenderRef level="ALL" ref="AsyncAppender"/>
        </Root>

        <Logger level="INFO" name="it.uniroma2.faas.openwhisk.scheduler.data.source.remote.consumer.kafka.AbstractKafkaConsumer" additivity="false">
            <AppenderRef level="OFF" ref="AsyncAppender"/>
        </Logger>

        <Logger level="INFO" name="it.uniroma2.faas.openwhisk.scheduler.data.source.remote.consumer.kafka.ActivationKafkaConsumer" additivity="false">
            <AppenderRef level="OFF" ref="AsyncAppender"/>
        </Logger>

        <Logger level="INFO" name="it.uniroma2.faas.openwhisk.scheduler.data.source.remote.consumer.kafka.CompletionKafkaConsumer" additivity="false">
            <AppenderRef level="OFF" ref="AsyncAppender"/>
        </Logger>

        <Logger level="INFO" name="it.uniroma2.faas.openwhisk.scheduler.data.source.remote.consumer.kafka.HealthKafkaConsumer" additivity="false">
            <AppenderRef level="OFF" ref="AsyncAppender"/>
        </Logger>

        <Logger level="INFO" name="it.uniroma2.faas.openwhisk.scheduler.data.source.remote.consumer.kafka.EventKafkaConsumer" additivity="false">
            <AppenderRef level="OFF" ref="AsyncAppender"/>
        </Logger>

        <Logger level="INFO" name="it.uniroma2.faas.openwhisk.scheduler.data.source.remote.producer.kafka.BaseKafkaProducer" additivity="false">
            <AppenderRef level="OFF" ref="AsyncAppender"/>
        </Logger>

        <Logger level="INFO" name="it.uniroma2.faas.openwhisk.scheduler.scheduler.BaseScheduler" additivity="false">
            <AppenderRef level="ALL" ref="AsyncAppender"/>
        </Logger>

        <Logger level="INFO" name="it.uniroma2.faas.openwhisk.scheduler.scheduler.advanced.TracerScheduler" additivity="false">
            <AppenderRef level="ALL" ref="AsyncAppender"/>
        </Logger>

        <Logger level="INFO" name="it.uniroma2.faas.openwhisk.scheduler.scheduler.BufferedScheduler" additivity="false">
            <AppenderRef level="ALL" ref="AsyncAppender"/>
        </Logger>
    </Loggers>

</Configuration>
